
@media (max-width: 768px) {
    /* Cambios para pantallas medianas */
  }
  
  @media (max-width: 480px) {
    /* Cambios para móviles */
  }


:root {
	--primary-color: pink;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 50%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor{
    max-width: 120rem;
	margin: 0 auto;
}
.encabezado-1{
    text-align: center;
	font-weight: 500;
	font-size: 3rem;

}




/* ********************************** */
/*              Encabezado              */
/* ********************************** */

.titulo{
    
    display: flex;
    align-items: center;
}


.titulo span {
    font-size: 40px;
    font-family: 'Brush Script MT', cursive;
    color: #000000;
    
}

.opciones{
    text-decoration: none;
    margin-left: 350px;
	font-size: 1.8rem;
	color: var(--dark-color);
	text-transform: uppercase;
	position: relative;
}

.opciones i{
    color: #d366a5;
    font-size: 40px;
}


.opciones a{
    text-decoration: none;
    
	font-size: 2.rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.opciones a ::after{
    content: '';
	width: 1.5rem;
	height: 10px;
	background-color: #fff;
	
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 10.3s ease;
}

.opciones a:hover::after {
	opacity: 1;
}

.opciones a:hover {
	color: #d366a5;
}




.titulo img {
  
    width: 80px;
    margin-left: 400px;
}

.titulo h1{
    margin-left: 100px;
    font-size: 2.3rem;
}

.titulo-iconos {
margin-left: 239px;
   display: flex;
   gap: 1rem;
   cursor: pointer;
 
    
}
.titulo-iconos .fa-user {
    margin-right: 23px;
	font-size: 2rem;
	color: var(--primary-color);
	padding-right: 12.5rem;
	border-right: 1px solid #e2e2e2;
}



.banner{
  
    background-color: #ffc0cb;
    display: flex;
   
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;  
}

.banner ul{
    list-style: none;
    margin-right: 100px;
    margin-left: 100px;
   
}

.banner a{
    text-decoration: none;
    
	font-size: 2.8rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.banner a ::after{
    content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 10.3s ease;
}

.banner a:hover::after {
	opacity: 1;
}

.banner a:hover {
	color: #fff;
}





 /* ********************************** */
/*               Fondo             */
/* ********************************** */

.fondo{
    	background-image:

		url('../Img/Menu.jpeg');
      height:  60rem;
      background-size: cover;
      background-position: center;
}
.fondo-contenido{
    max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.fondo-contenido h2{

    color: #fff;
    font-size:  3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.fondo-contenido a{
     margin-top: 2rem;
     text-decoration: none;
     color: #fff0f0;
     display: inline-block;
     padding: 1rem 3rem;
     text-transform: uppercase;
     border-radius: 3rem;
}



 /* ********************************** */
/*               Contenido           */
/* ********************************** */

.Contenido{
    background-color: #ffffff;
    margin-top: 100px;
}

.caja1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.contenido-caja1{
    display: flex;
    align-items: center;
    justify-self: unset;
    gap: 1.5rem;

    background-color: #fff;
  
    padding: 1.5rem 0;
    

}

.contenido-caja1{
 font-size: 2.7rem;
}


.Caract-contenido{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.Caract-contenido span{
    margin-right: -90px;
	font-size: 2.7rem;
	color: rgb(0, 0, 0);

}

.Caract-contenido p{
    font-size: 2rem;
	text-align: center;
        margin-right: 2px;
        
}


/* ********************************** */
/*          NUEVA COLECCION           */
/* ********************************** */

.Coleccion{
    margin-top: 100px;
    display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}
 
.Titulo-Colle{
font-size: 4.4rem;
margin-left: 600px;
}

.Contenedor-coleccion{
    margin-left: 400px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.contenido-colecci{
    height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.img-colecci{
    background-image: linear-gradient(#00000080, #00000080),
    url('../Img/img8.jpg');
background-size: cover;
background-position: bottom;
background-repeat: no-repeat;
}

.img-colecci2{
    background-image: linear-gradient(#00000080, #00000080),
    url('../Img/img9.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.contenido-colecci p{
    font-size: 2.5rem;
    color: white;
    text-transform: capitalize;
    position: relative;

}

.contenido-colecci p::after{
    width: 2.5rem;
    height: 2px;
background-color: #fff;
position: absolute;
bottom: -1rem;
left: 50%;
transform: translate(-505, 50%);

}

.contenido-colecci span {
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

/* ********************************** */
/*           Mejores productos          */
/* ********************************** */

.mejores-productos{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  margin-bottom: 3rem;
}

.opciones{
  
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    margin-right: 300px;
}

.opciones span{
    color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 3rem;
	cursor: pointer;
    
}

.opciones span:hover {
    background-color: var(--primary-color);
	color: #fff;
}
.opciones span.activo{
    background-color: var(--primary-color);
	color: #fff;
}

/* ************************************ */
/* P R O D U C T O S C A J A  ***************** */
/* ************************************ */

main{
    max-width: 1200px;
    margin: auto;
    background-color: var(--clr-grey-fondo);
}

main .contenedor-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 90px;
    padding-bottom: 20px;
}
main .producto{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
main .producto:hover{
    box-shadow: 0 7px 7px 0 rgba(0,0,0,.3);
}
main .producto .producto-imagen{
    display: block;
    margin: auto;
    width: 100%;
}
main .producto .producto-detalles{
    border-top: 1px solid #ccc;
    padding: 15px;
}
main .producto .producto-detalles .producto-titulo{
    font-size: 16px;
    font-weight: normal;
}
main .producto .producto-detalles .producto-precio{
    font-size: 20px;
    padding: 15px 0;
    font-weight: bold;
}
main .producto .producto-detalles .descuento{
    color: #ff00d4;
   font-size: 14px;
   font-weight: normal;
}
main .producto .producto-detalles .producto-tipo-envio{
    font-weight: bold;
    color: #ff00d4;
    font-size: 14px;
}

/* ************************************ */
/* P R O D U C T O   V I S I T A D O  ***************** */
/* ************************************ */

/* oculto momentaneamente los prductos para dar estilo */
.visible-grid{
    display: grid;
}
.no-visible{
    display: none;
}
.contenedor-productos{
    /* display: none !important; */
}
.contenedor-producto-visitado{
    display: none;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.producto-visitado{
    background-color: #fff;
    display: grid;
    grid-template-columns:  minmax(200px, 480px) minmax(200px, 340px) minmax(200px, 300px);
    gap:24px;
    color: #333;
    position: absolute;
    /* display: none; */
    padding: 40px 30px 30px 30px;
}
.producto-visitado .cerrar{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}
.producto-visitado .fotos-galeria{
    display: grid;
    grid-template-columns: 60px auto;
}
.producto-visitado .fotos-galeria .miniaturas{
    width: 60px;
}
.producto-visitado .fotos-galeria .miniaturas img{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.producto-visitado .fotos-galeria .foto-principal{
    display: block;
    margin: auto;
}
.producto-visitado .fotos-galeria img{
    width: 100%;
}
.producto-visitado .titulo-producto{
    font-size: 22px;
    margin-bottom: 20px;
}
.producto-visitado .precio-producto{
    font-size: 36px;
    line-height: 36px;
    display: flex;
    margin-bottom: 20px;
}
.producto-visitado .descuento{
    color: #ffc0cb;
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}
.producto-visitado .txt{
    font-size: 14px;
    font-weight: bold;
}
.producto-visitado ul{
    list-style:disc;
    font-size: 14px;
}
.producto-visitado ul li{
    margin-top: 10px;
}
.producto-visitado .info-compra{
    border: 1px solid #ccc;
    border-radius:10px;
    padding: 20px;
}

.producto-visitado .info-compra .info-stock{
    font-size: 16px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.producto-visitado .info-compra .cantidad{
    margin-bottom: 20px;
    display: block;
}
.producto-visitado .info-compra .stock{
    font-size: 14px;
    color: #0000008c;
}
.producto-visitado .info-compra .btn-agregar-al-carrito{
    display: block;
    background-color:#ffc0cb;
    width:100%;
    padding: 12px 0;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .4s;
}
.producto-visitado .info-compra .btn-agregar-al-carrito:hover{
    background-color: #ff77f4;
}
.producto-visitado .info-compra .vendedor{
    display: block;
    margin-bottom: 20px;
}
.producto-visitado .info-compra .vendedor a{
    color: var(--clr-blue);
}
.producto-visitado .info-compra .beneficio{
    margin-bottom: 20px;
    display: flex;
    font-size: 14px;
    color:#666
}
.producto-visitado .info-compra .beneficio a{
    color: var(--clr-blue);
}
.producto-visitado .info-compra .beneficio i{
    margin-right: 10px;
}


/* ************************************ */
/* Seccion destacadas 1 ***************** */
/* ************************************ */

.Seccion-destacada1{
    margin-top: 100px;
    display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}
 


.Contenedor-seccion1{
    margin-left: -30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.contenido-seccion1{
    height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.img-seccion1{
    margin-left: -140px;
    height: 200rem;
    background-image: linear-gradient(#00000080, #00000080),
    url('Img/Caja1.jpeg');
    height: 30rem;
    width: 160rem;
background-size: cover;
background-position: bottom;
background-repeat: no-repeat;


}


    .contenido-seccion1 p{
        font-size: 2.5rem;
        color: white;
        text-transform: capitalize;
        position: relative;
    
    }
    
    .contenido-seccion1 p::after{
        width: 2.5rem;
        height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-505, 50%);
    
    }
    
    .contenido-seccion1 span {
        font-size: 1.6rem;
        color: #fff;
        cursor: pointer;
    }


    /* ************************************ */
/* Seccion destacadas 2 ***************** */
/* ************************************ */

.Seccion-destacada2{
   
    
}
 



.Contenedor-seccion2{
    margin-left: -400px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20rem;
}

.contenido-seccion2{
    height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}



    .contenido-seccion2 p{
        font-size: 2.5rem;
        color: white;
        text-transform: capitalize;
        position: relative;
    
    }
    
    .contenido-seccion2 p::after{
        width: 2.5rem;
        height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-505, 50%);
    
    }
    
    .contenido-seccion2 span {
        font-size: 1.6rem;
        color: #fff;
        cursor: pointer;
    }

    
    .img-seccion2{
        margin-left: -140px;
        height: 200rem;
        background-image: linear-gradient(#00000080, #00000080),
        url('Img/Caja2.jpeg');
        height: 30rem;
        width: 160rem;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    
    }



    
    /* ************************************ */
/*productos 2***************** */
/* *************************************/ 
main{
    max-width: 1200px;
    margin: auto;
    background-color: var(--clr-grey-fondo);
}

main .contenedor-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 90px;
    padding-bottom: 20px;
}
main .producto{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
main .producto:hover{
    box-shadow: 0 7px 7px 0 rgba(0,0,0,.3);
}
main .producto .producto-imagen{
    display: block;
    margin: auto;
    width: 100%;
}
main .producto .producto-detalles{
    border-top: 1px solid #ccc;
    padding: 15px;
}
main .producto .producto-detalles .producto-titulo{
    font-size: 16px;
    font-weight: normal;
}
main .producto .producto-detalles .producto-precio{
    font-size: 20px;
    padding: 15px 0;
    font-weight: bold;
}
main .producto .producto-detalles .descuento{
    color: #ff00d4;
   font-size: 14px;
   font-weight: normal;
}
main .producto .producto-detalles .producto-tipo-envio{
    font-weight: bold;
    color: #ff00d4;
    font-size: 14px;
}

/* ************************************ */
/* P R O D U C T O   V I S I T A D O  ***************** */
/* ************************************ */

/* oculto momentaneamente los prductos para dar estilo */
.visible-grid{
    display: grid;
}
.no-visible{
    display: none;
}
.contenedor-productos{
    /* display: none !important; */
}
.contenedor-producto-visitado{
    display: none;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.producto-visitado{
    background-color: #fff;
    display: grid;
    grid-template-columns:  minmax(200px, 480px) minmax(200px, 340px) minmax(200px, 300px);
    gap:24px;
    color: #333;
    position: absolute;
    /* display: none; */
    padding: 40px 30px 30px 30px;
}
.producto-visitado .cerrar{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}
.producto-visitado .fotos-galeria{
    display: grid;
    grid-template-columns: 60px auto;
}
.producto-visitado .fotos-galeria .miniaturas{
    width: 60px;
}
.producto-visitado .fotos-galeria .miniaturas img{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.producto-visitado .fotos-galeria .foto-principal{
    display: block;
    margin: auto;
}
.producto-visitado .fotos-galeria img{
    width: 100%;
}
.producto-visitado .titulo-producto{
    font-size: 22px;
    margin-bottom: 20px;
}
.producto-visitado .precio-producto{
    font-size: 36px;
    line-height: 36px;
    display: flex;
    margin-bottom: 20px;
}
.producto-visitado .descuento{
    color: #ffc0cb;
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}
.producto-visitado .txt{
    font-size: 14px;
    font-weight: bold;
}
.producto-visitado ul{
    list-style:disc;
    font-size: 14px;
}
.producto-visitado ul li{
    margin-top: 10px;
}
.producto-visitado .info-compra{
    border: 1px solid #ccc;
    border-radius:10px;
    padding: 20px;
}

.producto-visitado .info-compra .info-stock{
    font-size: 16px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.producto-visitado .info-compra .cantidad{
    margin-bottom: 20px;
    display: block;
}
.producto-visitado .info-compra .stock{
    font-size: 14px;
    color: #0000008c;
}
.producto-visitado .info-compra .btn-agregar-al-carrito{
    display: block;
    background-color:#ffc0cb;
    width:100%;
    padding: 12px 0;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .4s;
}
.producto-visitado .info-compra .btn-agregar-al-carrito:hover{
    background-color: #ff77f4;
}
.producto-visitado .info-compra .vendedor{
    display: block;
    margin-bottom: 20px;
}
.producto-visitado .info-compra .vendedor a{
    color: var(--clr-blue);
}
.producto-visitado .info-compra .beneficio{
    margin-bottom: 20px;
    display: flex;
    font-size: 14px;
    color:#666
}
.producto-visitado .info-compra .beneficio a{
    color: var(--clr-blue);
}
.producto-visitado .info-compra .beneficio i{
    margin-right: 10px;
}
    /* ************************************ */
/*parte de abajo***************** */
/* ************************************ */

.footer {
	background-color: var(--primary-color);
    padding: 15%;
    height: 20rem;
    width: 130rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.container-footer {
	
 width: 900px;
	
	padding: 2rem;
    left: 100%;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 6000;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
        
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}


	.content p{
		font-size: 1.6rem;
	}
}



.container {
    display: flex;
    width: 900%; /* Ajusta el ancho según necesites */
    max-width: 960px; /* Ancho máximo opcional */
    border-left: 2px solid #febfcb; /* Línea divisoria */
}

.contact-section, .support-section {
    flex: 1; /* Ocupan la misma proporción de espacio */
    padding: 2px;
}

.contact-section {
    border-right: 1px solid #000000; /* Línea divisoria */
}

h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 3.5em;
    font-weight: bold;
}

p {
    color: #000000;
    margin-bottom: 10px;
    font-size: 3em;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}

.social-icons img {
    width: 30px; /* Ajusta el tamaño de los iconos */
    height: 30px;
    border-radius: 5px; /* Opcional: bordes redondeados */
}

.support-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.support-links li {
    margin-bottom: 8px;
}

.support-links a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
}

.support-links a:hover {
    text-decoration: underline;
    color: #e472a4; /* Un color de énfasis al pasar el ratón */
}

.follow-us {
    color: #555;
    font-size: 0.9em;
    margin-bottom: 5px;
}


